body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 10rem;
    margin: 0;
}

h2 {
    font-size: 8rem;
}

h3 {
    font-size: 3rem;
    margin: 0;
}

h1, h2 {
    color: white;
}

p {
    font-size: x-large;
}

footer {
    padding-top: 30px;
    text-align: center;
}

a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.container {
    margin: 0 5%;
    padding-top: 40px;
}

.title-div {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding-top: 10rem;
}

.title-div > p {
    color: white;
    margin: 0;
}

.feature-div {
    height: 95vh;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.feature-img {
    height: 40dvh;
    width: 40dvb;
    object-fit: cover;
    padding-top: 50px;
    padding-bottom: 10px;
}

.contact-div {
    display: flex;
    height: 85vh;
    justify-content: start;
    align-items: start;
}

.footer-div > p {
    font-size: medium;
}

#title {
    background-image: url(../images/beach-6292382_1920.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#contact {
    background-image: url(../images/tropical-fruit-3596787_1920.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

@media (max-width: 1500px) {
    .feature-div {
        height: 235vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding-bottom: 40px;
    }
    
}

@media (max-width: 768px) {
   .feature-div {
        height: 235vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding-bottom: 40px;
    }

    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 6rem;
    }
}